/* Put your custom CSS here */
.ui-header .ui-btn-left, .ui-header .ui-btn-right, .ui-footer .ui-btn-left, .ui-footer .ui-btn-right {
position: relative;
top: 0px;
}
ui-header .ui-title, .ui-footer .ui-title {
min-height: 1.1em;
text-align: left;
font-size: 16px;
display: block;
margin: .6em 30% .8em;
padding: 0;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
outline: 0!important;
}
